#!/bin/sh
# {{ ansible_managed }}
## log cleaning script for cowrie, kippo...

export PATH=/usr/sbin:/usr/bin:/sbin:/bin
umask 022
set -e

DAYS={{ mhnclient_log_compress_days_limit }}
DAYS2={{ mhnclient_log_purge_days_limit }}

echo "[`date`] Aging off {{ daemon }} logs..."
find /opt/{{ daemon }}/log/ -type f -mtime +$DAYS ! -iname '*.bz2' -exec bzip2 {} \;
find /opt/{{ daemon }}/log/ -type f -mtime +$DAYS2 -delete
echo "[`date`] done"
