{{ ansible_managed | comment }}
## /etc/supervisor/conf.d/kippo.conf

[program:kippo]
#command=/opt/kippo/start.sh
#user=root
user=kippo
directory=/opt/kippo
stdout_logfile=/var/log/supervisor/kippo.out
#stderr_logfile=/var/log/supervisor/kippo.err
autostart=true
autorestart=true
redirect_stderr=true
{% if iptable_support is defined and iptable_support %}
#command=/usr/bin/twistd -n -y kippo.tac -l log/kippo.log --pidfile kippo.pid
command=/home/kippo/env-kippo/bin/twistd -n -y kippo.tac -l log/kippo.log --pidfile kippo.pid
stopsignal=KILL
stopasgroup=true

{% else %}
#command=authbind --deep twistd -n -y kippo.tac -l log/kippo.log --pidfile kippo.pid
command=authbind --deep /home/kippo/env-kippo/bin/twistd -n -y kippo.tac -l log/kippo.log --pidfile kippo.pid
stopsignal=QUIT

{% endif %}

