## /opt/shockpot/shockpot.conf
[server]
host = 0.0.0.0
port = {{ mhnclient_shockpot_port }}

[headers]
server = {{ mhnclient_shockpot_serverheaders }}

[hpfeeds]
enabled  = True
host     = {{ HPF_HOST.stdout }}
port     = {{ HPF_PORT }}
identity = {{ HPF_IDENT.stdout }}
secret   = {{ HPF_SECRET.stdout }}
channel  = shockpot.events
only_exploits = True

[fetch_public_ip]
enabled = True
urls = ["http://www.telize.com/ip", "http://queryip.net/ip/", "http://ifconfig.me/ip"]

# put any variables in here that you want to render in your template.html. 
[template]
title = It Works!

